<h2>Read one expense</h2>

<div>
    <img src="{{expense.picture}}" alt="Proof of Expenses">
    <h2>{{expense.title}}</h2>
    <p><i>{{expense.category}}</i></p>
    <p>{{expense.date}}</p>
    <p>{{expense.amount}}</p>
    <p>{{expense.description}}</p>
    <a href="/expenses"><b>Back</b></a>
</div>