<section id="all-details">
    <h2>More informations about your expense</h2>
    <div>
        <img src="{{expense.picture}}" alt="Proof of Expenses">
        <h3>{{expense.title}}</h3>
        <p class="cat-and-src">{{expense.category}}</p>
        <p>{{EuformatDate expense.date}}</p>
        <div class="amount">
            <p>{{expense.amount}}<span>&nbsp;</span>€</p>
        </div>

        <div class="description">
            <p>{{expense.description}}</p>
        </div>
        <a class="go-back" href="/expenses"><b>Back</b></a>
    </div>
</section>