<section id="all-details">
    <h2>Don't worry, we all need to refresh our memory sometimes</h2>
    <div class="details">
        <a href="{{expense.picture}}"><img src="{{expense.picture}}" alt="Proof of Expenses"></a>
        <h3>{{expense.title}}</h3>
        <p class="cat-and-src">{{expense.category}}</p>
        <p><i class="far fa-calendar-alt"></i>{{EuformatDate expense.date}}</p>
        <div class="amount">
            <p class="swing-in-bottom-fwd">{{expense.amount}}<span>&nbsp;</span>€</p>
        </div>

        <div class="description">
            <p>{{expense.description}}</p>
        </div>
        <a class="go-back" href="/expenses"><i class="fas fa-arrow-alt-circle-left"></i>Back</a>
    </div>
</section>