{{#if isLoggedIn}}
  {{> topNavbar}}
  {{> navBarSide}}
{{/if}}
<div id="main-content-dashboard">
    <div class="welcomeContainer">
        <p class="user-welcome">Welcome to Billie, <i>{{currentUser.username}}</i></p>
        <div class="user-info">
            <div><img src="{{currentUser.avatar}}" alt="avatar" class="circle"></div>
            <div class="name-info"><b>First name :</b> {{currentUser.firstname}} <br>
                <b>Last name :</b> {{currentUser.lastname}}
            </div>
            <div class="btn-box">
                <div>
                    <a class="update-btn" href="/users/update/{{currentUser._id}}">Update your profile</a>
                </div>
                <div>
                    <a href="/users/delete/{{currentUser._id}}">Remove your account</a>
                </div>
            </div>
        </div>

    </div>
    {{!--******* balance cont --}}
    <div id="expenseIncomeComparisonContainer">
        <div class="exp-and-inc">
            <h2 class="balance">Total Balance</h2>
            <div id="total-balance" class="swing-in-bottom-fwd">{{totalBudg}}<span>&nbsp;</span>€</div></br>
            <h2 class="incomeTot">Total Income</h2>
            <a href="/incomes">
                <div id="total-incomes">+<span>&nbsp;</span>{{totalInc}}<span>&nbsp;</span>€</div>
            </a></br>
            <h2 class="expensesTot">Total Expenses</h2>
            <a href="/expenses">
                <div id="total-expenses">-<span>&nbsp;</span>{{totalExp}}<span>&nbsp;</span>€</div>
            </a></br>
        </div>
    </div>
    {{!--******* chart container --}}
    <div class="chartsContainer">
        <p class="chart-title"></p>
        {{> chartBalanceScript}}
    </div>
</div>
{{> modalAddAll}}