<div id="main-content-dashboard">
    <div class="welcomeContainer">
        <p>Welcome to Billie, <i>{{currentUser.username}}</i></p>
        <div><img src="{{currentUser.avatar}}" alt="avatar" class="circle"></div>
        <div><b>First name :</b> {{currentUser.firstname}} <br>
            <b>Last name :</b> {{currentUser.lastname}}
        </div>
        <div class="btn-box">
            <div>
                <a href="/users/update/{{currentUser._id}}">Update your profile</a>
            </div>

            <div>
                <a href="/users/delete/{{currentUser._id}}">Remove your account</a>
            </div>
        </div>
    </div>
    <div id="expenseIncomeComparisonContainer">
        <p>Comparison</p>
        <div id="total-incomes">{{total}}</div>
        <div id="total-expenses"></div>
    </div>
    {{> chartScript}}
</div>
{{> modalAddAll}}