<div id="main-table">
<section>
    <h2>Your incomes : <span id="incomes-total">{{totalInc}}</span><span>&nbsp;</span>€</h2>
    <table class=" tableTest table table-striped table-bordered table-hover table-responsive">
        <thead>
            <tr>
                <th>Date</th>
                <th>Title</th>
                <th>Source</th>
                <th>Amount</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {{#each incomes}}
            <tr>
                <td>
                    <p>{{EuformatDate this.date}}</p>
                </td>
                <td><a href="/incomes/details/{{this._id}}">
                        <p class="title">{{this.title}}</p>
                    </a></td>
                <td>
                    <p class="cat-and-src">{{this.source}}</p>
                </td>
                <td class="testColumn">
                    <p class="amount"><span class="dom-amount-income">{{this.amount}}</span><span>&nbsp;</span>€</p>
                </td> {{!-- The weird span is for adding an unbreakable space --}}
                <td class="actions-btn">
                    <div class="actions btnIncomes">
                        <a href="/incomes/update/{{this._id}}"><i class="fas fa-pen"></i></a>
                        <a href="/incomes/delete/{{this._id}}"><i class="fas fa-trash"></i></a>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
    <a class="go-back" href="/home"><i class="fas fa-arrow-alt-circle-left"></i>Back</a>
</section>
<div>
{{> modalAddAll}}