<section id="all-details">
    <h2>More informations about your income</h2>
    <div class="details">
        <img src="{{income.picture}}" alt="Proof of Income">
        <h3>{{income.title}}</h3>
        <p class="cat-and-src">{{income.source}}</p>
        <p>{{EuformatDate income.date}}</p>
        <div class="amount">
            <p>{{income.amount}}<span>&nbsp;</span>€</p>
        </div>

        <div class="description">
            <p>{{income.description}}</p>
        </div>

        <a class="go-back" href="/incomes"><b>Back</b></a>
    </div>
</section>