<section id="all-details">
    <h2>Don't worry, we all need to refresh our memory sometimes</h2>
    <div class="details">
        <a href="{{income.picture}}"><img src="{{income.picture}}"" alt="Proof of Income"></a>
        <h3>{{income.title}}</h3>
        <p class="cat-and-src">{{income.source}}</p>
        <p><i class="far fa-calendar-alt"></i>{{EuformatDate income.date}}</p>
        <div class="amount">
            <p class="swing-in-bottom-fwd">{{income.amount}}<span>&nbsp;</span>€</p>
        </div>

        <div class="description">
            <p>{{income.description}}</p>
        </div>

        <a class="go-back" href="/incomes"><i class="fas fa-arrow-alt-circle-left"></i>Back</a>
    </div>
</section>