<h2>Find some more informations about your </h2>

<div>
    <img src="{{income.picture}}" alt="Proof of Expenses">
    <h2>{{income.title}}</h2>
    <p><i>{{income.category}}</i></p>
    <p>{{income.date}}</p>
    <p>{{income.amount}}</p>
    <p>{{income.description}}</p>
</div>