

   <div class="glass">
       
 

<div class="dashboard">
<div class="pshape">

<div><img src="{{avatar}}" alt="" class="circle"></div>
<div><b>First Name:</b> {{firstname}} <br><b>Last Name:</b>{{lastname}}</div>
<div>Username: {{username}}</div>


</div>
</div>

<div class="btn-box">
    <div>
<button class="btn"><a href="/users/update/{{_id}}">Update my credentials</a></button>
    </div>
    
    <div>
    <button class="btn"><a href="/users/delete/{{_id}}">Remove my account</a></button>
   </div>
</div>


  </div>